---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.2/matchlist/by-summoner/20257398?api_key=RGAPI-4EF5513C-5773-4410-BA21-765591E3FA3E&beginTime=1451631600&rankedQueues=TEAM_BUILDER_DRAFT_RANKED_5x5&seasons=SEASON2016
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Rate-Limit-Count:
      - 1:10,9:600
    body:
      encoding: ASCII-8BIT
      string: '{"matches":[{"region":"NA","platformId":"NA1","matchId":2082171522,"champion":33,"queue":"TEAM_BUILDER_DRAFT_RANKED_5x5","season":"SEASON2016","timestamp":1454047672406,"lane":"JUNGLE","role":"NONE"}],"startIndex":0,"endIndex":1,"totalGames":1}'
  recorded_at: Thu, 04 Aug 2016 04:35:51 GMT
recorded_with: VCR 3.0.3
