---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/by-name/Riizu?api_key=RGAPI-4EF5513C-5773-4410-BA21-765591E3FA3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Rate-Limit-Count:
      - 3:10,3:600
    body:
      encoding: ASCII-8BIT
      string: '{"riizu":{"id":20257398,"name":"Riizu","profileIconId":780,"summonerLevel":30,"revisionDate":1463806535000}}'
  recorded_at: Tue, 02 Aug 2016 21:40:17 GMT
recorded_with: VCR 3.0.3
